<div>
  <div class="export-container">
    <button class="export-button" (click)="generatePDF()">Export to PDF</button>
  </div>

    <div class="hstack">
      <div>
      <select class="select-menu" (change)="onStatusChange($event)">
        <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
      </select>
      <caption class="select-caption">Statuses</caption>
    </div>
    <div>
    <select class="select-menu" (change)="onStatusChange($event)">
      <option *ngFor="let timeFrame of timeFrames" [value]="timeFrame">{{ timeFrame }}</option>
    </select>
    <caption class="select-caption">TimeFrames</caption>
  </div>
  <div>
    <select class="select-menu" (change)="onStatusChange($event)">
      <option *ngFor="let specie of species" [value]="specie">{{ specie }}</option>
    </select>
    <caption class="select-caption">Species</caption>
  </div>
  </div>
    <div class="card">
     <div class="canvas-container">
        <canvas #outcomeChart></canvas>
    </div>
  <div class="report-container">
    <table class="report-table" >
      <tr class="report-row" >
        <th class="report-col">Owner Name</th>
        <th class="report-col">Outcome</th>
      </tr>
      <tr class="report-row" *ngFor="let outcome of cases">
        <td class="report-col">{{ outcome.firstName }}</td>
        <td class="report-col">{{ outcome.status }}</td>
      </tr>
    </table>
  </div>
  </div>
</div>