
<div class="export-selectors-container">
  <!-- Export to PDF Button -->
  <div class="export-container">
    <button class="export-button" (click)="generatePDF()">Export</button>
  </div>

  <!-- Selectors for Status, TimeFrames, and Species -->
  <div class="selectors">
    <div class="select-wrapper">
      <select class="select-menu" (change)="onStatusChange($event)">
        <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
      </select>
      <caption class="select-caption">Statuses</caption>
    </div>
    <div class="select-wrapper">
      <select class="select-menu" (change)="onStatusChange($event)">
        <option *ngFor="let timeFrame of timeFrames" [value]="timeFrame">{{ timeFrame }}</option>
      </select>
      <caption class="select-caption">TimeFrames</caption>
    </div>
    <div class="select-wrapper">
      <select class="select-menu" (change)="onStatusChange($event)">
        <option *ngFor="let specie of species" [value]="specie">{{ specie }}</option>
      </select>
      <caption class="select-caption">Species</caption>
    </div>
    <div class="select-wrapper">
     <div class="hstack">

   <button class="arrow-button" (click)="incrementOffset()">
    ⬅
   </button>
   <button class="arrow-button" (click)="decrementOffset()">
    ➡️
   </button>
     
    </div>
    <caption class="select-caption">Offset: {{ offset }}</caption>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="reports-container" *ngIf="cases.length != 0"> 
  <!-- Main Bar Chart Container with #mainChart reference -->
  <div *ngIf="chartOptions" class="canvas-container main-chart-card" #mainChart>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [callbackFunction]="chartCallback"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
    
  </div>

  <!-- Horizontal Stack for Pie Chart and Table -->
  <div class="vstack">
    <!-- Pie Chart Container -->
    <div *ngIf="pieChartOptions" class="card-container">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pieChartOptions"
        style="width: 100%; height: 300px; display: block;">
      </highcharts-chart>
    </div>

    <!-- Table Container -->
    <div class="card-container">
      <table #casesTable class="report-table display">
        <thead>
          <tr>
            <th>Owner Name</th>
            <th>Outcome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let outcome of cases">
            <td>{{ outcome.firstName }}</td>
            <td>{{ outcome.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h1 class="reports-container" *ngIf="cases.length == 0" style="padding: 25%; margin: 0;">No Cases, select another filter</h1>