/* Container for Export Button and Selectors */
.export-selectors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 0; 
    position: sticky; 
    top: 0; 
    z-index: 1000;
    width: 100%; 
    height: 130px;
    background-color: #EAF3EA;
}

.fade-overlay {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to top, rgba(234, 243, 234, 0) 0%, #EAF3EA 100%);
    pointer-events: none;
    z-index: 1001; 
}

/* Export Button */
.export-container {
    padding-right: 15px; 
}

/* Export Button */
.export-button {
    background-color: #4DC959;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    margin-bottom: 45px;
    transition: background-color 0.3s;
}

.export-button:hover {
    background-color: #45b34d;
}

/* Selectors Styling */
.selectors {
    display: flex;
    gap: 15px;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dropdown Styling */
.select-menu {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: large;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
}

.select-menu:focus {
    outline: none;
    border-color: #4DC959; /* Highlight color */
}

/* Caption Styling */
.select-caption {
    font-size: 0.85em;
    color: #666;
    margin-top: 5px;
}

.card-container {
    flex-direction: column;
    width: 100%;
    margin-inline: 1%;
}
/* Main chart styling */
.main-chart-card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    
}

/* Horizontal stack layout for pie chart and table */
.hstack {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: stretch;
    
}

.spacer {
    height: 225px;
}

/* Card container for pie chart and table */
.card-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;

}

/* DataTable styling */
.report-table {
    width: 100%;
    border-collapse: collapse;
    font-size: medium;
    text-align: left;
    margin: 0;
}

.report-table thead th {
    background-color: transparent;
    color: #333;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: small;
    border-bottom: 2px solid #e0e0e0;
}

.report-table tbody tr {
    background-color: #f4f4f4;
}

.report-table tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.report-table tbody tr:hover {
    background-color: #d9f2e6;
}

.report-col {
    padding: 12px 15px;
}

