<h2 mat-dialog-title>Confrim Account Deletion</h2>
<mat-dialog-content>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" required [(ngModel)]="email" (ngModelChange)="emailInputFilled = !!email" />
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required [(ngModel)]="password" />
    </mat-form-field>
    <br>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="deleteAccount()" [disabled]="!emailInputFilled">Delete</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>