<div class="sidebar">
    <div class="profile">
      <div class="profile-avatar"></div>
      <div class="profile-info">
        <div class="profile-name">Andreas Ink (Admin)</div>
        <div class="profile-email"></div>
      </div>
    </div>
  
    <input type="text" class="search-box" placeholder="Search" />
  
    <div class="menu">
        <a class="menu-item" (click)="navigateTo('/report')">Reports</a>
        <a class="menu-item" (click)="navigateTo('/case-management')">Cases</a>
        <a class="menu-item" (click)="navigateTo('/upload')">Uploads</a>
        <a class="menu-item" (click)="navigateTo('/account')">Accounts</a>
    </div>
</div>