<div class="sidebar">
    <div class="profile">
      <div class="profile-avatar"></div>
      <div class="profile-info">
        <div class="profile-name">Andreas Ink (Admin)</div>
        <div class="profile-email"></div>
      </div>
    </div>
    
    <div class="menu">
      <button
        class="menu-item"
        [class.active]="isActive('/report')"
        (click)="navigateTo('/report')">
        Reports
      </button>
      <button
        class="menu-item"
        [class.active]="isActive('/case-management')"
        (click)="navigateTo('/case-management')">
        Cases
      </button>
      <button
        class="menu-item"
        [class.active]="isActive('/upload')"
        (click)="navigateTo('/upload')">
        Uploads
      </button>
      <button
        class="menu-item"
        [class.active]="isActive('/accounts')"
        (click)="navigateTo('/accounts')">
        Accounts
      </button>
    </div>
</div>
<!-- <app-account-profile [isAccountSidebarOpen]="isAccountSidebarOpen" (close)="closeAccountSidebar()"></app-account-profile> -->