<!-- NOTE: THIS PAGE IS TO BE USED AFTER WE HAVE OUR OWN DOMAIN LINK FOR EMAILS -->
<div class="confirmation-container">
    <div class="confirmation-card">
      <h2>Email Verified Successfully!</h2>
      <p class="info-text">
        Your email has been verified. You can now log in to your account.
      </p>
      <p class="info-text highlight">
        Please click <strong>Forgot Password</strong> upon login to set your new password.
      </p>
      <button class="login-btn" (click)="toggleLogin()">Log in here</button>
    </div>
  </div>
  