html, body {
    background-color: #EAF3EA;
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
}

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    background-color: #EAF3EA;
}

.routed-component {
    flex: 1;
    margin-left: 50px;
}