<div class="forgot-password-page">
    <h2 style="text-align: center;">Forgot Password</h2>
    <div *ngIf="errorMessage" class="error-message" style="font-size: smaller; color: rgb(218, 48, 48)">
      {{ errorMessage }}
    </div>
    <div *ngIf="message" class="success-message" style="font-size: smaller; color: green;">
      {{ message }}
    </div>
    <div class="form">
    <form (submit)="forgotPassword()" class="forgotPassword-form">
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required />
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required/>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required/>
      <button type="submit">Reset Password</button>
    </form>
</div>
</div>