<div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone #</th>
                <th>Outcome</th>
                <th>Animal Type</th>
                <th># of Pets</th>
                <th>Behavior Concerns</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let str of infoTest">
                <td>{{ str.data[1][2] }}</td>
                <td>{{ str.data[1][3] }}</td>
                <td>{{ str.data[1][4] }}</td>
                <td>{{ str.data[1][153] }}</td>
                <td>{{ str.data[1][158] }}</td>
                <td>{{ str.data[1][168] }}</td>
                <td>{{ str.data[1][188] }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="file-upload-container">
    <div class="upload-box" (click)="fileInput.click()">
        <div class="upload-icon">
            <span>+</span>
        </div>
        <p>Drag & drop or click to choose files</p>
    </div>

    <input type="file" 
           accept=".csv"
           multiple
           id="file" 
           #fileInput 
           (change)="handleFileInput($event)"
           style="display: none;">
    
    <div class="file-item" *ngFor="let file of filesToUpload">
        <div class="file-info">
            <span class="file-icon">📄</span>
            <div class="file-details">
                <p class="file-name">{{ file.name }}</p>
                <p class="file-size">{{ (file.size / 1024 / 1024).toFixed(2) }} MB</p>
            </div>
        </div>
        <div class="file-actions">
            <button class="delete-btn" (click)="removeFile(file)">🗑</button>
        </div>
    </div>
    <button class="upload-file-btn" accept=".csv" [disabled]="filesToUpload?.length == 0 || filesToUpload == null" (click)="uploadFileToActivity()">Upload</button>
</div>