<div class="body">
    <div class="tableDiv" *ngFor="let item of parsedCSVs; index as i">
        <!-- <div *ngIf="isWaitwhileVisible">
            <span>File {{ i+1 }}    </span>
            <span class="editData" (click)="enableEditData()">Edit Data</span>
            <table id="table1" class="table1">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone #</th>
                        <th>Outcome</th>
                        <th>Animal Type</th>
                        <th># of Pets</th>
                        <th>Behavior Concerns</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" id="" value="{{ item.data[1][2] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][3] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][4] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][153] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][158] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][168] }}" [readOnly]="editData"></td>
                        <td><input type="text" name="" id="" value="{{ item.data[1][188] }}" [readOnly]="editData"></td>
                    </tr>
                </tbody>
            </table>
        </div> -->

    </div>
    
    <!-- <div class="tableDiv" *ngFor="let item of parsedCSVs; index as i">
        <div *ngIf="isVoiceCall">
            <span>File {{ i+1 }}</span>
            <table id="table1" class="table1">
                <thead>
                    <tr>
                        <th>Phone #</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ item.data[1][2] }}</td>
                        <td>{{ item.data[1][3] }}</td>
                        <td>{{ item.data[1][4] }}</td>
                        <td>{{ item.data[1][153] }}</td>
                        <td>{{ item.data[1][158] }}</td>
                        <td>{{ item.data[1][168] }}</td>
                        <td>{{ item.data[1][188] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

  <div class="file-upload-container">
    <div class="upload-box" (click)="fileInput.click()">
      <div class="upload-icon">
        <span>+</span>
      </div>
      <p>Click to choose files</p>
    </div>

    <input type="file"
           accept=".csv, .xlsx"
           multiple
           id="file"
           #fileInput
           style="display: none;"
          (change)="handleFileInput($event)">

    <!-- Commented out section for listing files and removing - maybe temporary -->
    <!-- <div class="file-item" *ngFor="let file of filesToUpload">
        <div class="file-info">
            <span class="file-icon">📄</span>
            <div class="file-details">
                <p class="file-name">{{ file.name }}</p>
                <p class="file-size">{{ (file.size / 1024 / 1024).toFixed(2) }} MB</p>
            </div>
        </div>
        <div class="file-actions">
            <button class="delete-btn" (click)="removeFile(file)">🗑</button>
        </div>
    </div> -->
    <button class="upload-file-btn" accept=".csv" [disabled]="filesToUpload.length == 0 || filesToUpload == null" (click)="upload()">Upload</button>
  </div>

    <div class="fileCard" *ngFor="let file of filesToUpload; index as i">
            <h3>File {{ i+1 }}</h3>
            <span class="fileTitle">{{ file.name }}</span>
            <div class="alignRight center">
                <button class="fileButton editButton" (click)="editData(i)">Edit Data</button>
                <button class="fileButton deleteButton" (click)="removeFile(i)">Remove</button>
        </div>
    </div>

    <div id="data-viewer" *ngIf="isEditingData">
        <h3>{{ currentFileName }}</h3>
        <div id="scroll-area">
            <table id="table1" class="table1">
                <thead>
                    <tr>
                        <th style="width: 130px; min-width: 110px;">First Name</th>
                        <th style="width: 130px; min-width: 110px;">Last Name</th>
                        <th style="width: 130px; min-width: 110px;">Phone #</th>
                        <th style="width: 160px; min-width: 150px;">Status</th>
                        <th style="width: 80px;">Species</th>
                        <th style="width: 25px;"># of Pets</th>
                        <th style="width: 25%; min-width: 300px;">Message/Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of currentFile; index as i">
                        <td><input class="" type="text" name="" id="" value="{{ currentFile[i].firstName }}"></td>
                        <td><input class="" type="text" name="" id="" value="{{ currentFile[i].lastName }}"></td>
                        <td><input class="" type="text" name="" id="" value="{{ currentFile[i].phoneNumber }}"></td>
                        <td>
                            <!-- <input class="" type="text" name="" id="" value="{{ currentFile[i].species }}"> -->
                             <select name="" id="" [selectedIndex]="species.indexOf(currentFile[i].species)">
                                <option *ngFor="let s of statuses" value="{{s}}">{{s}}</option>
                            </select>
                        </td>
                        <td>
                            <!-- <input class="" type="text" name="" id="" value="{{ currentFile[i].status }}"> -->
                            <select name="" id="" [selectedIndex]="statuses.indexOf(currentFile[i].status)">
                                <option *ngFor="let s of species" value="{{s}}">{{s}}</option>
                            </select>
                        </td>
                        <td><input class="" type="text" name="" id="" value="{{ currentFile[i].numOfPets }}"></td> <!-- This column would be better as a number spinner.. -->
                        <!-- <td><input class="" type="text" name="" id="" value="{{ (currentFile[i].notes.length > 30) ? currentFile[i].notes.substring(0, 30).concat('...') : currentFile[i].notes }}"></td> -->
                        <td><input class="" type="text" name="" id="" value="{{ currentFile[i].notes }}"></td>
                            <!-- .concat may not be the best in the above since it changes the value of the text field, which would be what is sent up to database. 
                             May be best just to let the message stay the same as original data, and let the user move back and forth in the text field as they need to, which may be uncommon anyways -->
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="cancelButton" (click)="cancel()">Cancel</button>
        <button class="applyButton alignRight" (click)="apply()">Apply Changes</button>
    </div>
</div>
